@charset "UTF-8";

.cabecera {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
}
.cabecera iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 3%;
}

.cuerpo {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
}

.cuerpo iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 97%;
}

.source {
	padding : 0;
	margin : 0;
	font-size : 10px;
	border : unset;
	background-color : unset;
}